# Node.js
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/

# Ignorar archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Ignorar entornos virtuales
venv/
env/
ENV/
.venv/

# Ignorar archivos temporales
*.tmp
*.temp

# Ignorar archivos de salida de compilación
build/
dist/

# Archivos específicos del proyecto (ajusta según sea necesario)
*.sqlite3  # Si usas bases de datos SQLite
*.db       # Para bases de datos en general

# Archivos generados por el sistema
Thumbs.db
